<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>新規メモ作成</h1>
  <form action="http://localhost:4567/memo_data" method="POST">
    <div>
      タイトル:<input type="text" name="title" >
    </div>
    <div>
      本文:
      <textarea name="message" rows="5"></textarea>
    </div>
    <div>
      <input type="submit" value="保存する">
    </div>
  </form>
</body>
</html>