<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>メモ詳細</h1>
  <div>
    <div>
      タイトル: <%=@hash["title"]%>
    </div>  
    <div>
      本文:
        <%=@hash["message"]%>
      </p>
    </div>    
  </div>
  <a href="/memo_data/<%= @hash["id"]%>/edit">編集</a>
  <form method="post" action="http://localhost:4567/memo_data/<%= @id%>">
    <input type="hidden" name="_method" value="DELETE"> 
    <input type="submit" value="削除">
  </form>
</body>
</html>